:root{
    --primary-color:hsl(0, 100%, 74%);
    --secondary-color:hsl(154, 59%, 51%);
    --accent-color:hsl(248, 32%, 49%);
    --dark-color:hsl(249, 10%, 26%);
    --light-color:hsl(246, 25%, 77%);
    --white-color:hsl(0, 100%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
    background-image: url(../images/bg-intro-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.4rem;
    display: grid;
    grid-template-rows: 1fr 8.2rem ;
    gap: 2.4rem ;
    place-items: center;
}
p{
    font-size: 1.6em;
}

.hero{
    display: flex;
    flex-direction: column;
}
.hero__text{
    text-align: center;
    color: var(--white-color);
    padding: 7.2rem 0;
}
.hero__title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
}
.hero__description{
    line-height: 1.8;
}
.hero__ad{
    background-color: var(--accent-color);
    color: var(--white-color);
    text-align: center;
    font-weight: 700;
    padding: 1.8rem 7.6rem;
    border-radius: 1rem;
    box-shadow: 0 .8rem 0 hsl(0, 0%, 0%, 0.15);
    margin-bottom: 2.4rem;
}
.hero__ad span{
    font-weight: 400;
}
#form-sign-up{
    background-color: var(--white-color);
    border-radius: 1rem;
    padding: 2.4rem;
    box-shadow: 0 .8rem 0 hsl(0, 0%, 0%, 0.15);
}
.form__input{
    font-size: 1.6rem;
    border: none;
    border: 1px solid var(--light-color);
    padding: 1.6rem;
    display: block;
    width: 100%;
    margin-top: 1.6rem;
    border-radius: 0.4rem;
}
.form__input:first-child{
    margin: 0;
}
.form__input::placeholder{
    font-weight: 700;
    color: var(--light-color);
}
.form__input--error{
    border-color: var(--primary-color);
    background: url(../images/icon-error.svg) no-repeat;
    background-position: calc(100% - 1.6rem) center;

}
.form__input--error::placeholder{
    color: var(--primary-color);
}
.form__error{
    color: var(--primary-color);
    font-size: 1.2rem;
    text-align: right;
    display: block;
    font-style: italic;
    margin-top: 0.4rem;
}
.form__btn{
    background-color: var(--secondary-color);
    border: none;
    padding: 1.6rem;
    border-radius: 0.4rem;
    width: 100%;
    color: var(--white-color);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    box-shadow: 0 .8rem 0 hsl(154, 40%, 51%);
    margin: 1.6rem 0;
    transition: all .3s ease;
}
.form__btn:active{
    box-shadow: 0 .4rem 0 hsl(154, 40%, 51%);
    transform: translateY(0.8rem);
}
.form__tyc{
    font-size: 1.4rem;
    text-align: center;
    color: var(--light-color);
}
.form__tyc a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
}

/* ----- Attribution -----*/
.attribution{
    text-align: center;
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 1.6rem;
}
.attribution a{
    color: inherit;
    font-weight: 700;
}
@media screen and (min-width:768px) {
    body{
        background-image: url(../images/bg-intro-desktop.png);
    }
    .hero{
        max-width: 111rem;
        flex-direction: row;
        gap: 2.4rem;
    }
    .hero__text, .hero__form{
        width: 50%;
    }
    .hero__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .hero__title{
        font-size: 5rem;
    }
    #form-sign-up{

        padding: 4rem;

    }
}